/*------------*/
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  border: 2px solid cornflowerblue;
}

hr.lineBetween {
  border: 1px solid cornflowerblue;
}

.body-title {
  text-align: center;
  font-weight: bold;
}

input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  align-content: center;
  margin-left: -20px;
}

