#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  margin-top: 0;
  border: none;
}

hr {
  border: 1px solid cornflowerblue;
}

.consensus {
  text-align: left;
  /*margin-left: -30px;*/
}

.drop {
  /*margin-left: 30px;*/
}

.body-title {
  text-align: center;
  font-weight: bold;

}


