#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    border: none;
    text-align: left;
}

hr {
    border: 1px solid cornflowerblue;
}

.consensus {
    text-align: left;
}

.drop {
    align-items: center
}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    align-content: center;
    margin-left: -20px;
}

.consensusInput {
    margin-bottom: 0;
}

.body-title {
    text-align: center;
    font-weight: bold;

}


